<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Welcome and Choose a Course</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Courses List</h1>
</header>
<div class="container mb-5">
    <div class="row">
        <div class="col-12" th:if="${courses.size()>0}">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Course name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Teacher</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="course : ${courses}">
                        <td th:text="${course.name}"></td>
                        <td th:text="${course.getDescription()}"></td>
                        <td th:text="${course.getTeacher() != null}
                        ? ${course.getTeacher().getName()} : 'No Teacher'"></td>
                        <td class="text-right">
                            <form th:method="delete" th:action="@{'/courses/delete/{id}' (id=${course.getId()})}">
                                <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                            </form>
                        </td>
                        <td >
                            <a th:href="@{'/courses/edit-form/{id}'(id=${course.getId()})}">Edit</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="col mb-3">
            <div class="row">
                <a href="/courses/add-form" class="btn btn-block btn-dark">Add new Course</a>
            </div>
        </div>
    </div>
</div>
<main>
    <h2>Choose course:</h2>
    <div>
        <ul>
            <li th:each="course: ${courses}">
                <input type="hidden" name="courseName" th:text="${course.name}">
                <input type="radio" name="courseId" th:text="${course.name}" th:value="${course.getId()}"><br/>
                <form th:method="post" th:action="@{'/courses/open-course/{id}' (id=${course.getId()})}">
                    <button type="submit" class="btn btn-sm btn-danger">Show Students</button>
                </form>
            </li>
        </ul>
    </div>
    <br/>
</main>
</body>
</html>